.info-table {
  th, td {
    padding: 4px 8px;
  }

  th {
    vertical-align: baseline;
  }

  td {
    vertical-align: middle;
    &.category {
      text-align: right;
    }
    ul {
      margin: 5px 0;
      padding-left: 30px;
    }
  }

  th, td.category {
    font-size: 24px;
    font-weight: lighter;
    color: #666;
  }
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
}

.alternating-table tr:nth-child(even) {
  background-color: #eee;
}

.bottom-align {
  vertical-align: bottom;
}
