.community-page h1,
.community-page h3 {
  margin: 0;
}

.info-box {
  margin-top: 30px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #fff;
}
