.course-page h1,
.course-page h2,
.course-page h3 {
  margin: 0;
}

th, td {
  padding: 4px 8px;
  vertical-align: baseline;
}

th, td.category {
  font-size: 24px;
  font-weight: lighter;
  color: #666;
}

td {
  &.category {
    text-align: right;
  }
  ul {
    margin: 5px 0;
    padding-left: 30px;
  }
}

.info-box,
.info-table,
.calendar,
.assignments {
  margin-top: 30px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #fff;
}

.info-table {
  margin-left: -5px;  /* to offset padding in td */
  td {
    vertical-align: middle;
  }
}

.calendar {
  padding-bottom: 0;
}

.calendar .week {
  margin: 25px 10px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.08);
}

.calendar .week h3,
.calendar .week h4 {
  margin: 5px 0 0 0;
  color: #333;
}

.calendar .week ul {
  margin: 0;
  padding-left: 30px;
}
