.home-page {
  .teaching,
  .about,
  .digits {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #fff;

    h2 {
      margin: 10px 0;
    }
  }

  .digits {
    margin-top: 0;
    flex: 1;

    p {
      margin: 0;
    }

    h1{
      margin: 0;
    }

    .title {
      font-size: 24px;
    }

    .school,
    .email {
      margin-top: 15px;
    }
  }

  .essentials {
    display: flex;
    align-items: center;
  }

  .headshot {
    display: block;
    margin-right: 30px;
    border-radius: 10px;
  }

  @media (max-width: 640px) {
    .essentials {
      flex-direction: column;
      width: 100%;
      .headshot {
        margin: 0;
      }
      .digits {
        box-sizing: border-box;
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}
