.navbar {
  width: 100%;
  padding: 0 20px;
  margin: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-size: 22px;
  color: #ddd;
  background-color: #333;
  list-style-type: none;

  .subnav & {
    color: #333;
    background-color: #fff;
  }

  a {
    color: inherit;
    display: block;
    padding: 10px 20px;

    &:hover {
      text-decoration: none;
    }
  }

  .title {
    margin-right: 50px;
  }
}

@media (max-width: 640px) {
  .navbar .title {
    margin-right: 10px;
  }
}

.subnav {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.navitem {
  display: inline-block;

  &.right {
    float: right;
  }

  &.active {
    box-shadow: inset 0 -2px 0 #d54f1e;
  }
}

.navlink a:hover {
  background-color: #d54f1e;
  color: #eee;
}

.navmenu {
  position: relative;
}

.navmenu-list {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  background-color: #ccc;
  color: initial;
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}

.navmenu-item a {
  padding-left: 30px;
}

.navmenu:hover {
  background-color: #ccc;
  color: initial;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}

.navmenu:hover .navmenu-list,
.navmenu-list:hover {
  display: block;
}
