@import 'tables';

.recitation-info-page {
  h1, h2, h3 {
    margin: 0;
  }

  .info-box,
  .info-table,
  .calendar {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #fff;
  }

  .calendar {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color: #fff;
    padding-bottom: 0;

    .week {
      margin: 25px 10px;
      padding: 10px 15px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.08);

      h3, h4 {
        margin: 5px 0 0 0;
        color: #333;
      }

      ul {
        margin: 0;
        padding-left: 30px;
      }
    }
  }
}
